commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 2.1.8
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
container_commands:
  01-install_dependencies:
    command: "php /usr/bin/composer.phar install"
  02-artisan_db_create:
    command: "php artisan db:create"
    leader_only: true
  03-artisan_migrate:
    command: "php artisan migrate --force"
    leader_only: true
  04-artisan_config_clear:
    command: "php artisan config:clear"
  05-create_cron-new_log:
    command: "sudo cat > /var/log/cron-log.log"
  06-give_permissions_to_logs:
    command: "sudo chmod -R 777 /var/log/cron-log.log"
  07-give_permissions_to_cache:
    command: "sudo chmod -R 777 ./storage ./bootstrap/cache"